@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Noto+Sans:wght@300;500&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Noto Sans', monospace;
        padding: 0;
        margin: 0;

        @apply text-slate-200
    }
}

body {
    @apply bg-gray-800
}

@media screen and (max-width: 600px) {
     .home-title {
        @apply text-8xl
     }
     .home-text {
        @apply text-xl
     }
     .card {
        flex-direction: column;
     }
}

@media screen and (max-width: 700px) {
    .skill-card {
        @apply w-[400px]
    }
}

@layer components {

    /* navbar */
    .home-btn {
        font-size: 2.5rem;
        line-height: .6;
        font-weight: bold;
    }

    .nav-btn {
        border-color: #a78bfa;
    }

    .portfolio-btn {
        border-color: #e879f9;
    }

    .header {
        min-height: 100px;
        @apply shadow-sm bg-gray-800 mt-2 mb-2
    }

    .navbar {
        @apply container mx-auto p-4 flex justify-between
    }

    /* home page */
    .home-flex {
        position: relative;
        text-align: center;
        justify-content: center;
        transform: translateY(-20%);
        @apply flex flex-col pt-5 pb-5 items-center self-center
    }

    .home-subflex {
        position: relative;
        width: 50%;
        @apply flex flex-col mb-5 self-center
    }

    @media (max-width: 1000px) {
        .home-subflex {
            position: relative;
            width: 80%;
            @apply flex flex-col mb-5 self-center
        }
    }

    .home-title {
        @apply font-bold text-9xl mb-10 text-center mt-24
    }

    .home-title:hover {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 ease-in-out duration-200
    }

    .home-subtitle {
        @apply text-2xl text-gray-400 text-center
    }

    .home-text {
        @apply text-center text-2xl text-gray-400
    }

    .gap {
        @apply mt-6 mb-6
    }

    .home-vandy {
        color: #cfae70;
        @apply text-left text-5xl
    }

    .home-majors {
        @apply text-2xl text-gray-300
    }

    .home-subtext {
        @apply text-center text-xl text-gray-400
    }

    .home-resume-text {
        @apply mt-8 text-xl hover:text-fuchsia-400 ease-in-out duration-200
    }

    .socials {
        @apply flex mt-10 justify-center
    }

    .socials-icon {
        @apply text-slate-200 pl-8 pr-8 hover:text-fuchsia-400 ease-in-out duration-200
    }

    /* pages */
    .title {
        @apply text-8xl text-center pt-7 pb-7
    }

    .subtitle {
        @apply text-center mb-10 text-2xl
    }

    .card {
        border-color: #b1aebb;
        font-family: 'Noto Sans';
        border-radius: 16px;
        @apply p-4 h-full border-2 flex gap-4 text-left max-w-[650px]
    }

    .card:hover {
        background-color: #262c38;
        @apply ease-in-out duration-200 border-violet-500
    }

    .proj-card, .exp-card {
        @apply min-h-[300px]
    }

    .proj-card:hover {
        @apply border-blue-600
    }

    .exp-card:hover {
        @apply border-blue-400
    }

    .card-position {
        font-weight: 300;
        font-size: 16px;
        @apply text-left
    }

    .card-title {
        font-size: 2.25rem;
        line-height: 2.5rem;
        @apply text-left pt-2 pb-2
    }

    .card-details {
        font-weight: 300;
        @apply text-left text-lg text-gray-400
    }

    .portfolio-img {
        @apply object-contain w-[250px] h-[250px] place-self-center
    }
    
    .port-subtitle {
        font-size: 2rem;
        @apply text-center font-bold
    }

    .skill-card {
        @apply w-[550px]
    }

    /* render */
    .render-img {
        
    }

    /* misc */
    .display-none {
        @apply hidden;
    }
}