/* Define standard variables and values for website */
$darkpurple: #3D348B;
$bg: #420D69;
$lightpurple: #7678ED;
$mango: #F7B801;
$tangerine: #F18701;
$persimmon: #F35B04;
$lightgray: #dddddd;
$fontnormal: 16px;
$fontbig: 20px;
$fontfamily: 'JetBrains Mono';

a, body {
    background: $bg;
    color: $lightgray;
    font-size: $fontnormal;
    font-family: $fontfamily;
}

header {
    background: $lightpurple;
}

.center {
    text-align: center;
}
